*{
    margin: 0;
    border: 0px 0px 10px 0px;
    padding: 0;
}

table{
    
    padding: 10px 10px 0px 0px;
    display:flex;
    overflow:hidden;

}

td{
    padding: 8px;   
}

.img-btn{
    padding: 15px 0px 0px 20px;
    
   
    justify-content: space-between;
    position: fixed;
    
}

.btn-bn{
    padding-left: 138px;
    padding-top: 0px;
    margin: 0;
    border: 0;
    justify-content:space-between;
    
}

.mini{
    display:flex;
    padding: 20px;
   position: fixed;
    
    
   
}

.big-img{
    padding-left: 20px;
    
    
}

.container {
  display: flex;
}

.column {
  flex: 1;
}

.mini-img {
  width: 100%;
  max-width: 100px;
  cursor: pointer;
  flex: 1;
  
  
}

.pcontent{
  width: 100%;
  max-width: 600px;
  cursor: pointer;
  flex: 1;
  margin-left: 20px;
  overflow-y: scroll;
  
  

}

#displayed-image, img {
  width: 100%;
  height: 100%;
  max-width: 480px;
  
 
 
  
}